{% extends "base.html" %}
{% block content %}
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Date Published</th>
    </tr>
  </thead>
  <tbody>
  {% for solution in solutions %}
    <a href="solution/{{ solution.id }}" class="btn">
      <tr onclick="document.location = 'solution/{{ solution.id }}'" style="cursor: pointer">
        <td>{{ solution.title }}</td>
        <td>{{ solution.moderator }}</td>
        <td>{{ solution.created_at }}</td>
      </tr>
    </a>
  {% endfor %}
    </tbody>
  </table>
{% endblock %}
