{% extends 'base.html' %}

{% block content %}
  <h2 style="text-align: center;">About the website</h2>
  <p class="text-primary padding50">
    <br /><br /><br /><br />
    There are many good programmers in the world. But no one of them can solve every task.
    One this website you can find solutions and explanation of the tasks from the Hackerrank website.
    If you completely don't understand this task you can search solution on this website.
    Please don't take from here solution if you understand this task or you only want to earn hackos and points!
    <br /><br />
    <i style="margin-left: 80%;">Michael Vietluzhskih</i>
  </p>
{% endblock %}
