{% extends "base.html" %}

{% block content %}

  {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      <p>Your username and password didn't match. <b>Please try again!</b></p>
    </div>
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <div class="padding50">
      <div class="form-group">
        <label for="id_username">Username</label>
      	<input class="form-control" id="id_username" type="text" name="username" />
      </div>
      <div class="form-group">
      	<label for="id_password">Password</label>
      	<input class="form-control" id="id_password" type=password name="password" />
      </div>
      <input type="submit" value="login" class="btn" />
    </div>
    <input type="hidden" name="next" value="{{ next }}" />

  </form>

{% endblock %}
