{% extends "base.html" %}

{% block nav_links %}
  <li><a href="{% url 'about' %}">Home</a></li>
  <li><a href="{% url 'archive' %}">Archive</a></li>
  <li><a href="{% url 'add_solution' %}">Add Solution</a></li>
{% endblock %}

{% block login_link %}
  <li><a href="{% url 'register' %}">Registration</a></li>
  <li class="active"><a href="{% url 'login' %}">Login<span class="sr-only">(current)</span></a></li>
{% endblock %}

{% block content %}
  <h1 class="text-center">Sign in</h1>

  {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      <p>Your username and password didn't match. <b>Please try again!</b></p>
    </div>
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <div class="padding50 center">
      <div class="form-group">
        <label for="id_username">Username</label>
      	<input class="form-control" id="id_username" type="text" name="username" />
      </div>
      <div class="form-group">
      	<label for="id_password">Password</label>
      	<input class="form-control" id="id_password" type=password name="password" />
      </div>
      <div class="submit">
        <input type="submit" value="login" class="btn btn-default" />
      </div>
    </div>
    <input type="hidden" name="next" value="{{ next }}" />

  </form>

{% endblock %}
